:root {
  /*Site BG*/
  --darkest: #35276b;
  --darker: #453975;
  --dark: #5b54b2;
  --light: #b4a2dd;
  --lightish: #cdc3e2;
  --lighter: #e4dff6;

  /*Typography*/
  --font1: 'Dosis', sans-serif;
  --font2: 'Alkia', sans-serif;
  --h1: 3.815rem;
  --h2: 3.052rem;
  --h3: 2.441rem;
  --h4: 1.953rem;
  --h5: 1.563rem;
  --h6: 1.25rem;
  --p: 1rem;
}

.dark {
  --text: var(--darkest);
  --back: var(--darker);
  --front: var(--light);
  --fronter: var(--lighter);
}

.light {
  --text: var(--darker);
  --back: var(--light);
  --front: var(--lighter);
  --fronter: var(--lightish);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 2rem;
}
