:root {
  /*Site BG*/
  --darkest: #35276b;
  --darker: #453975;
  --light: #b4a2dd;
  --lightish: #cdc3e2;
  --lighter: #e4dff6;

  /*Typography*/
  --font1: 'Dosis', sans-serif;
  --font2: 'Alkia', sans-serif;
  --h1: 3.815rem;
  --h2: 3.052rem;
  --h3: 2.441rem;
  --h4: 1.953rem;
  --h5: 1.563rem;
  --h6: 1.25rem;
  --p: 0.875rem;
  --text-color: #35276b;
}

h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}
p {
  font-size: var(--p);
}

.dark {
  --back: var(--darker);
  --front: var(--light);
  --fronter: var(--lighter);
  --text: var(--text-color);
  --steam: #d1d8ff;
  --itch: #ffd5d5;
}

.light {
  --back: var(--lighter);
  --front: var(--light);
  --fronter: var(--lightish);
  --text: var(--text-color);
  --steam: #c0c5df;
  --itch: #e7c6c6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem;
  margin-left: 1rem;
  font-family: var(--font2);
}
